@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9f9f9; /* Light gray background color */
  background-image: url("/icons/dot.svg"); /* Path to your SVG file */
  background-repeat: repeat; /* Repeat the background image */
  background-size: 32px;
}

.path {
  stroke-dasharray: 100;
  animation: dash 5s linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
